@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");

/* all fonts start */
.kode-mono-regular {
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.kode-mono-bold {
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
/* all fonts end */

@tailwind base;
@tailwind components;
@tailwind utilities;

.svgBlend {
  /* mix-blend-mode: overlay; */
  margin-top: 15rem;
  height: 210px;
  /* border: 2px solid pink; */
  width: 400px;
}

.svgDiv {
  display: flex;
  align-items: start;
  justify-content: center;
}

/* svg animations */
@keyframes draw {
  from {
    stroke-dasharray: 0, 1000;
  }
  to {
    stroke-dasharray: 1000, 0;
  }
}

.svgBlend path {
  stroke: #3516a5;
  stroke-width: 2;
  fill: none;
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  animation: draw 4s forwards infinite;
}

/* responsive in small device */
@media screen and (max-width: 640px) {
  .mainDIv {
    padding: 0;
  }
  .headingText {
    margin-top: 5vh;
    font-size: 2.5rem;
    /* border: 2px solid grey; */
  }
  .GetReady {
    width: 100%;
    font-size: 1.7rem;
    /* margin-top: -20px; */
    border: 1px solid red;
  }

  .contentDiv {
    /* border: 1px solid rgb(58, 12, 133); */
    flex-direction: column;
    margin: 1.2rem;
    margin-top: 2vh;
    height: fit-content;
  }

  /* ! sign up page  */
  .signUpDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 20px;
  }
  .account{
    font-size: 1.3rem;
  }
  .mainDivSignUp2 {
    width: 100%;
    height: auto;
  }
  .mainDivSignUp {
    width: 100%;
    height: auto;
  }
  .profileSignUpImg {
    height: 35vh;
  }
}
